<!DOCTYPE html>
<html>
<head>
    <title>게시판</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>게시판</h1>
    <table>
        <tr>
            <th>Video ID</th>
            <th>Title</th>
            <th>Datetime</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td><a href="https://youtu.be/{{ post.video_id }}">{{ post.video_id }}</a></td>
                <td><a href="{{ url_for('post', video_id=post.video_id, title=post.title) }}">{{ post.title }}</a></td>
                <td>{{ post['datetime'] }}</td>
            </tr>
        {% endfor %}
    </table>

    <!-- 메인 페이지로 이동하는 버튼 -->
    <a href="/"><button>메인 페이지로 돌아가기</button></a>
</body>
</html>