<!DOCTYPE html>
<html>
<head>
    <title>Subtitle Collector</title>
    <style>
        .error_message {
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #f5c6cb;
            border-radius: 4px;
        }

        .success_message{
            background-color: lightskyblue;
            color: black;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid deepskyblue;
            border-radius: 4px;
        }
    </style>

    <!--<script>
        function submitForm(event) {
            event.preventDefault();
            const url = document.getElementById('youtube_url').value;
            const formData = new FormData();
            formData.append('youtube_url', url);

            // 프로그레스 바와 메시지 초기화
            const progressBar = document.getElementById('progress');
            const messageDiv = document.getElementById('message');
            progressBar.style.display = 'block';
            progressBar.value = 0;
            messageDiv.innerText = '';  // 메시지 초기화

            fetch('/', {
                method: 'POST',
                body: formData
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (text) {
                progressBar.value = 100;  // 프로그레스 바를 100%로
                messageDiv.innerText = text;  // 완료 메시지 표시
            })
            .catch(function (error) {
                messageDiv.innerText = 'Error: ' + error;
            });
        }
    </script>-->
</head>
<body>
<h2>유튜브 영상 URL을 입력하세요</h2>

<!-- 에러 메세지 처리하는 곳 -->
{% if error_message %}
    <div class="error_message">
        <p>{{ error_message }}</p>
    </div>
{% endif %}

<!-- 성공 메세지 처리하는 곳 -->
{% if success_message %}
    <div class="success_message">
        <p>{{ success_message }}</p>
    </div>
{% endif %}

<form method="POST" action=""><!--onsubmit="submitForm(event)">-->
    <label for="youtube_url"></label>
    <input type="text" id="youtube_url" name="youtube_url" placeholder="유튜브 URL을 입력하세요" style="width: 400px;">
    <input type="submit" value="제출">
</form>

<a href="/board"><button>게시판 보기</button></a>

{#<progress id="progress" value="0" max="100" style="width: 400px; display: none;"></progress>#}
{#<div id="message"></div>#}
</body>
</html>