<!DOCTYPE html>
<html>
<head>
    <title>Subtitle Collector</title>
    <style>
        .error_message {
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #f5c6cb;
            border-radius: 4px;
        }

        .success_message{
            background-color: lightskyblue;
            color: black;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid deepskyblue;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<h2>유튜브 영상 URL을 입력하세요</h2>

<!-- 에러 메세지 처리하는 곳 -->
{% if error_message %}
    <div class="error_message">
        <p>{{ error_message }}</p>
    </div>
{% endif %}

<!-- 성공 메세지 처리하는 곳 -->
{% if success_message %}
    <div class="success_message">
        <p>{{ success_message }}</p>
    </div>
{% endif %}

<form method="POST" action=""><!--onsubmit="submitForm(event)">-->
    <label for="youtube_url"></label>
    <input type="text" id="youtube_url" name="youtube_url" placeholder="유튜브 URL을 입력하세요" style="width: 400px;">

    <!-- leetcode number 입력 -->
    <label for="leetcode_number">LeetCode 번호</label>
    <input type="text" id="leetcode_number" name="leetcode_number" placeholder="LeetCode 번호를 입력하세요">

    <input type="submit" value="제출">
</form>

<br/>
<a href="/board"><button>게시판 보기</button></a>
<br/><br/>
<a href="/automation">자동화 페이지 가기</a>
<br/><br/>
<a href="/count">데이터 수집 현황 보기</a>

{#<progress id="progress" value="0" max="100" style="width: 400px; display: none;"></progress>#}
{#<div id="message"></div>#}
</body>
</html>